@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

.home-main-container {
  /* background: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url("../../assets/Images/glassEff.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bridge-base-heading {
  /* margin-top: 16px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "League Spartan";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.launch-btn {
  margin-top: 40px;
  color: white;
  display: flex;
  height: 65px;
  font-size: 27px;
  padding: 15px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
  background: linear-gradient(180deg, #9c7dec 0%, #3e0abc 100%);
  position: relative;
  z-index: 2;
}

.bridge-base-conatainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.cartoonImg {
  margin-top: 60px;
}

.icons-container {
  display: flex;
  margin-top: 20px;
  gap: 40px;
}

.icons {
  color: white;
  width: 32px;
  height: 32px;
  cursor: pointer;

}

.faq-container {
  margin-top: 20px;
  gap: 40px;
}

.faq {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

/* .home-main-container {
  background: #2947a1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  flex-direction: column;
  overflow-x: hidden; 
}

.bridge-base-heading {
  margin-top: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Bangers;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.launch-btn {
  color: white;
  display: flex;

  height: 65px;
  font-size: 27px;
  padding: 15px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
  background: linear-gradient(180deg, #36342b 0%, #4c4836 100%);
  position: relative;
  z-index: 2;
}
.bridgeImg {
  width: 100%;
  margin-top: -114px;
}

.icon {
  color: white;
  margin-top: 5px;

  /* font-size: 27px;
  display: inline-block; 
}
.cartoon-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.cartoonImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -114px;
  left: 229px;
  z-index: 1;
  width: 36%;
}
.btn-cartoon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bridge-base-conatainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.animate-img-container {
  position: absolute;
  top: 76%;
  left: 0;
  width: 100%;
  height: 129px;
  pointer-events: none; 
  overflow: hidden;
  display: flex; 
  justify-content: space-between; 
  z-index: 3; 
}

.circle,
.eth {
  position: absolute;
  top: 0;
  width: 10%;
  pointer-events: none;
  display: block;
  z-index: 4; 
}

.circle {
  animation: move-circle 5s linear infinite alternate; 
  left: -132px; 
}

.eth {
  animation: move-eth 5s linear infinite alternate; 
  right: -132px; 
}

@keyframes move-circle {
  0% {
    left: -132px; 
  }
  100% {
    left: calc(100% + 132px); 
  }
}

@keyframes move-eth {
  0% {
    right: -132px; 
  }
  100% {
    right: calc(100% + 132px); 
  }
}

@media screen and (max-width: 720px) {
  .home-main-container {
    padding: 0; 
    overflow-x: hidden;

  }
  .cartoonImg {
    flex-direction: column;
 
    top: 0px;
    left: 42px;
 
  }
  .bridgeImg {
    width: 100%;
    margin-top: 0;
  }

  .animate-img-container {
    display: none;
    animation: none;
  }
  .circle {
    display: none;
    animation: none;
  }

  .eth {
    display: none;
  }
} */
